/* Tailwind setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global vars */
:root {
  --background: #ffffff;
  --foreground: #101415;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101415;
    --foreground: #ededed;
  }
}

/* Global CSS */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}